{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}

{% block styles %}
    {{ super() }}  <!-- This preserves Bootstrap CSS -->
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/img_1.png') }}");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        
        .card {
            backdrop-filter: blur(10px);
            background-color: rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(0, 0, 0, 0.4);
        }
        
        .card-body h2 {
            color: white;
        }
        
        .card-body {
            color: white;
        }

        .form-control {
            background-color: rgba(0, 0, 0, 0.4);
            border: none;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
        
        .form-control::placeholder {
            color: rgba(255, 255, 255, 0.8);
        }
        
        .form-control:focus {
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
        }
        
        .input-group-text {
            background-color: rgba(0, 0, 0, 0.2);
            border: none;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.5);
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-lg-5">
            <div class="card bg-transparent p-4">
                <div class="card-body">
                    <h2 class="text-center mb-4 fs-1">Reset Password</h2>
                    <form method="POST" action="{{ url_for('auth.reset_with_token', token=token) }}">
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="New Password" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                <input type="password" class="form-control form-control-lg" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" required>
                            </div>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-lg btn-light mt-2">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}